:root {
  --color-soft-blue-gray: #74808c;
  --color-deep-dark-red: rgba(173, 20, 15, 0.322);
  --color-soft-jungle-green: rgba(39, 173, 15, 0.361);
  --shadow-soft-jungle-green: 0 6px 10px rgba(39, 173, 15, 0.361);
  --color-dark-blood-red: #ad190f;
  --color-dark-forest-green: #197109;
  --font-family-jost: "Jost", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}
